<ion-header>
  <ion-toolbar>
    <ion-title>Crear Publicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label position="floating">¿Que deseas publicar?</ion-label>
    <ion-textarea (ionChange)="getText($event)" style="border: 5px;"></ion-textarea>
    
    <div *ngIf="image">
      
      <div *ngIf="imagen != ''">
        <ion-img [src]="imagen"></ion-img>
      </div>

      <ion-button (click)="SeleccionarFoto()" expand="block">
        Tomar Foto
      </ion-button>

      <ion-button (click)="Gallery()" expand="block">
        Seleccionar Foto
      </ion-button>
    </div>

    <div>
      
      <ion-buttons slot="start">
        <ion-button (click)="publicarModal()" color="success"  >
          <ion-icon name="checkmark-outline"></ion-icon>
          Publicar 
        </ion-button>
  
        <ion-button (click)="cancelarModal()" color="danger"  >
          <ion-icon name="close-outline"></ion-icon>
          Cancelar
        </ion-button> 
      </ion-buttons>
    
    </div>

    <div>
      <ion-row >
        <ion-col size="3" *ngFor="let image of tempImg">
          <ion-card>
            
            <img [src]="image" >
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-content>