.social-more{
    font-size: 25px !important;
    position: absolute;
    right: -10px;
    top: -6px;
}

.iconon{
    font-size: 25px !important;
    position: absolute;
    right: 20;
}

.inpuN{
    border-radius: 15px;
    border-color: black; 
}
.buttonIcon{
    padding-left: 40px;
}

.buttonIconTwo{

    padding-right: 50px;
}