<ion-card>
  <ion-card-title>
    <ion-chip color="primary">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-chip>

    <ion-label> {{ publicacion.nombre }} </ion-label>

    <div class="social-more">
      <ion-button (click)="lanzarMenu($event)" fill="clear">
        <ion-icon
          class="colorTresPuntitos"
          slot="icon-only"
          name="ellipsis-vertical-outline"
        ></ion-icon>
      </ion-button>
    </div>
  </ion-card-title>

  <ion-card-subtitle class="ion-padding">Hace 1m</ion-card-subtitle>

  <ion-card-content (click)="verPublicacion()">
    <p>{{ publicacion.publicacion }}</p>
  </ion-card-content>

  <div *ngIf="publicacion.urlImg != ''">
    <ion-img (click)="verPublicacion()" [src]="publicacion.urlImg"></ion-img>
  </div>

  <div *ngIf="comentarios == false">
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon
            slot="start"
            class="iconon"
            name="person-circle-outline"
          ></ion-icon>

          <ion-button (click)="verPublicacion()" class="buttonIconTwo">
            <ion-input type="text" class="inpuN" [disabled]="true"></ion-input>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-card>

<div *ngIf="comentarios == true">
  <ion-item>
    <ion-label>Comentar:</ion-label>
    <ion-input (ionChange)="getTextComentario($event)" type="text"></ion-input>
    <ion-button (click)="comentar()" >
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let comentario of publicacion.Comentarios">
      <ion-label>{{comentario.comentario}}</ion-label>
    </ion-item>
  </ion-list>
</div>
