<ion-card>

  <ion-card-title>
    <ion-chip color="primary" >
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-chip>
    
    <ion-label> {{publicacion.nombre}} </ion-label>
    
    <div class="social-more">
      <ion-button (click)="lanzarMenu($event)"  fill="clear">
        <ion-icon class="colorTresPuntitos" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card-title>
  
  <ion-card-subtitle class="ion-padding">Hace 1m</ion-card-subtitle>
  
  <ion-card-content>
    <p>{{publicacion.publicacion}}</p>
  </ion-card-content>
</ion-card>
